In [217]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\chch4\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\chch4\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\chch4\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\chch4\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\chch4\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\chch4\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [218]:
# 파일 불러오기
import pandas as pd

meteorshowers = pd.read_csv("data/meteorshowers.csv")
moonphases = pd.read_csv("data/moonphases.csv")
constellations = pd.read_csv("data/constellations.csv")
cities = pd.read_csv("data/cities.csv")

In [219]:
# 상세한 정보 확인
meteorshowers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 5 non-null      object
 1   radiant              5 non-null      object
 2   bestmonth            5 non-null      object
 3   startmonth           5 non-null      object
 4   startday             5 non-null      int64
 5   endmonth             5 non-null      object
 6   endday               5 non-null      int64
 7   hemisphere           5 non-null      object
 8   preferredhemisphere  5 non-null      object
dtypes: int64(2), object(7)
memory usage: 492.0+ bytes

In [220]:
# 상위 5개만 확인
meteorshowers.head()

,name,radiant,bestmonth,startmonth,startday,endmonth,endday,hemisphere,preferredhemisphere
0,Lyrids,Lyra,april,april,21,april,22,northern,northern
1,Eta Aquarids,Aquarius,may,april,19,may,28,"northern, southern",southern
2,Orionids,Orion,october,october,2,november,7,"northern, southern","northern, southern"
3,Perseids,Perseus,august,july,14,august,24,northern,northern
4,Leonids,Leo,november,november,6,november,30,"northern, southern","northern, southern"

In [221]:
# startmonth 안의 데이터를 확인
meteorshowers['startmonth'].unique()

array(['april', 'october', 'july', 'november'], dtype=object)

In [222]:
# 딕셔너리(dic) 형식으로 1~12월의 정보를 months에 저장
months = {'january' : 1, 'february' : 2, 'march' : 3, 'april' : 4, 'may' : 5, 'june' : 6, 'july' : 7, 'august' : 8, 'september' : 9, 'october' : 10, 'november' : 11, 'december' : 12}

In [223]:
# value(정보)값을 사용하여 key(키)값을 확인
months['june']

6

In [224]:
meteorshowers['startmonth']

0       april
1       april
2     october
3        july
4    november
Name: startmonth, dtype: object

In [225]:
# meteorshowers의 startmonth 정보를 months와 매칭시켜 값을 변경시킴
meteorshowers['startmonth'] = meteorshowers['startmonth'].map(months)

In [226]:
meteorshowers.head()

,name,radiant,bestmonth,startmonth,startday,endmonth,endday,hemisphere,preferredhemisphere
0,Lyrids,Lyra,april,4,21,april,22,northern,northern
1,Eta Aquarids,Aquarius,may,4,19,may,28,"northern, southern",southern
2,Orionids,Orion,october,10,2,november,7,"northern, southern","northern, southern"
3,Perseids,Perseus,august,7,14,august,24,northern,northern
4,Leonids,Leo,november,11,6,november,30,"northern, southern","northern, southern"

In [227]:
meteorshowers['bestmonth'] = meteorshowers['bestmonth'].map(months)
meteorshowers['endmonth'] = meteorshowers['endmonth'].map(months)

In [228]:
meteorshowers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 5 non-null      object
 1   radiant              5 non-null      object
 2   bestmonth            5 non-null      int64
 3   startmonth           5 non-null      int64
 4   startday             5 non-null      int64
 5   endmonth             5 non-null      int64
 6   endday               5 non-null      int64
 7   hemisphere           5 non-null      object
 8   preferredhemisphere  5 non-null      object
dtypes: int64(5), object(4)
memory usage: 492.0+ bytes

In [229]:
meteorshowers.head()

,name,radiant,bestmonth,startmonth,startday,endmonth,endday,hemisphere,preferredhemisphere
0,Lyrids,Lyra,4,4,21,4,22,northern,northern
1,Eta Aquarids,Aquarius,5,4,19,5,28,"northern, southern",southern
2,Orionids,Orion,10,10,2,11,7,"northern, southern","northern, southern"
3,Perseids,Perseus,8,7,14,8,24,northern,northern
4,Leonids,Leo,11,11,6,11,30,"northern, southern","northern, southern"

In [230]:
# startday 컬럼 생성 후 숫자 데이터를 날짜 데이터로 변환
meteorshowers['startday'] = pd.to_datetime(2020 * 10000 + meteorshowers['startmonth'] * 100 + meteorshowers['startday'], format = '%Y%m%d')
meteorshowers

,name,radiant,bestmonth,startmonth,startday,endmonth,endday,hemisphere,preferredhemisphere
0,Lyrids,Lyra,4,4,2020-04-21,4,22,northern,northern
1,Eta Aquarids,Aquarius,5,4,2020-04-19,5,28,"northern, southern",southern
2,Orionids,Orion,10,10,2020-10-02,11,7,"northern, southern","northern, southern"
3,Perseids,Perseus,8,7,2020-07-14,8,24,northern,northern
4,Leonids,Leo,11,11,2020-11-06,11,30,"northern, southern","northern, southern"

In [231]:
# 미션 1) meteorshowers 데이터프레임에 'enddate' 컬럼 생성
meteorshowers['enddate'] = pd.to_datetime(2020 * 10000 + meteorshowers['endmonth'] * 100 + meteorshowers['endday'], format = '%Y%m%d')
meteorshowers

,name,radiant,bestmonth,startmonth,startday,endmonth,endday,hemisphere,preferredhemisphere,enddate
0,Lyrids,Lyra,4,4,2020-04-21,4,22,northern,northern,2020-04-22
1,Eta Aquarids,Aquarius,5,4,2020-04-19,5,28,"northern, southern",southern,2020-05-28
2,Orionids,Orion,10,10,2020-10-02,11,7,"northern, southern","northern, southern",2020-11-07
3,Perseids,Perseus,8,7,2020-07-14,8,24,northern,northern,2020-08-24
4,Leonids,Leo,11,11,2020-11-06,11,30,"northern, southern","northern, southern",2020-11-30

In [232]:
moonphases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   month         366 non-null    object
 1   day           366 non-null    int64
 2   moonphase     50 non-null     object
 3   specialevent  10 non-null     object
dtypes: int64(1), object(3)
memory usage: 11.6+ KB

In [233]:
moonphases.head()

     month  day      moonphase specialevent
0  january    1            NaN          NaN
1  january    2  first quarter          NaN
2  january    3            NaN          NaN
3  january    4            NaN          NaN
4  january    5            NaN          NaN

In [234]:
moonphases['month'] = moonphases['month'].map(months)

In [235]:
# 미션 2) moonphases 데이트프레임에 'date' 컬럼 생성
moonphases['date'] = pd.to_datetime(2020 * 10000 + moonphases['month'] * 100 + moonphases['day'], format='%Y%m%d')
moonphases.head()

   month  day      moonphase specialevent       date
0      1    1            NaN          NaN 2020-01-01
1      1    2  first quarter          NaN 2020-01-02
2      1    3            NaN          NaN 2020-01-03
3      1    4            NaN          NaN 2020-01-04
4      1    5            NaN          NaN 2020-01-05

In [236]:
moonphases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   month         366 non-null    int64
 1   day           366 non-null    int64
 2   moonphase     50 non-null     object
 3   specialevent  10 non-null     object
 4   date          366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 14.4+ KB

In [237]:
moonphases['moonphase'].unique()

array([nan, 'first quarter', 'full moon', 'third quarter', 'new moon'],
      dtype=object)

In [238]:
phases = {'first quarter' : 0.5, 'full moon' : 1, 'third quarter' : 0.5, 'new moon' : 0}

In [239]:
# moonphases['percentage'] 컬럼을 생성하며 moonphases['moonphase'] 딕셔너리(phases)와 매핑
moonphases['percentage'] = moonphases['moonphase'].map(phases)

In [240]:
moonphases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   month         366 non-null    int64
 1   day           366 non-null    int64
 2   moonphase     50 non-null     object
 3   specialevent  10 non-null     object
 4   date          366 non-null    datetime64[ns]
 5   percentage    50 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 17.3+ KB

In [241]:
# drop을 이용하여 필요가 없는 데이터 삭제, inplace=True를 이용해 실제 데이터에 적용
moonphases.drop(['month', 'day', 'moonphase', 'specialevent'], axis=1, inplace=True)

In [242]:
moonphases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        366 non-null    datetime64[ns]
 1   percentage  50 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

In [243]:
# constellations와 meteorshowers의 정보 중 필요없는 부분을 제거
constellations.drop('besttime', axis=1, inplace=True)
meteorshowers = meteorshowers.drop(['startmonth', 'startday', 'endmonth', 'endday', 'hemisphere'], axis=1)

In [244]:
moonphases.head()

        date  percentage
0 2020-01-01         NaN
1 2020-01-02         0.5
2 2020-01-03         NaN
3 2020-01-04         NaN
4 2020-01-05         NaN

In [245]:
# 데이터프레임의 한 행 씩 가져와 index와 row에 넣어준다.
# pandas에 있는 isnull을 사용하여 선택한 부분에 NaN(비어있는 값)이 있다면 1 반환
for index, row in moonphases.iterrows():
    pd.isnull(row['percentage'])

In [246]:
# 다음 활용을 위해 복사
moonphases1=moonphases.copy()

In [247]:
# 비어있는 값을 lastphase로 채워주며 비어있지 않다면 lastphase를 index 값으로 채워주기
lastphase = 0
for index, row in moonphases.iterrows():
    if pd.isnull(row['percentage']):
        moonphases.loc[index, 'percentage'] = lastphase
    else:
        lastphase = moonphases.loc[index, 'percentage']

In [248]:
moonphases.head()

        date  percentage
0 2020-01-01         0.0
1 2020-01-02         0.5
2 2020-01-03         0.5
3 2020-01-04         0.5
4 2020-01-05         0.5

## 도시의 위도 검색

In [249]:
# cities의 컬럼 값 확인
cities.columns

Index(['city', 'latitude', 'country'], dtype='object')

In [250]:
# cities의 city 값과 latitude 값만 확인
cities[['city', 'latitude']]

                        city  latitude
0                  Abu Dhabi     24.47
1                      Abuja      9.07
2                      Accra      5.55
3                  Adamstown    -25.07
4                Addis Ababa      9.02
..                       ...       ...
251  Abidjan(former capital)      6.82
252                  Yaounde      3.87
253          Yaren(de facto)     -0.53
254                  Yerevan     40.18
255                   Zagreb     45.82

[256 rows x 2 columns]

In [251]:
# cities의 city값이 Abu Dhabi의 정보를 가져오는데 latitude 값만 확인
cities[cities['city'] == 'Abu Dhabi']['latitude']

0    24.47
Name: latitude, dtype: float64

In [252]:
# 위와 동일한 기능
cities.loc[cities['city'] == 'Abu Dhabi', 'latitude']

0    24.47
Name: latitude, dtype: float64

In [256]:
# 위도 가져오는 사용자 정의 함수
# 함수를 사용하여 입력 된 city(도시의 이름)을 받아 위도를 반환시켜준다.
# iloc를 사용하여 첫 번째 값을 선택한다.
def predict_best_shower_viewing(city):
    shower_string = ""
    if city not in cities.values:
        shower_string = city + "는 현재 예측할 수 없습니다."
        return shower_string

    latitude = cities.loc[cities['city'] == city, 'latitude'].iloc[0]

    constellations_list = constellations.loc[(constellations['latitudestart'] >= latitude) & (constellations['latitudeend'] <= latitude), 'constellation'].tolist()

    if not constellations_list:
        shower_string = city + "에서는 볼 수 있는 유성우는 없습니다."
        return shower_string
    
    shower_string = city + "에서는 유성우를 볼 수 있습니다."
    return shower_string

incity = input('city??')
print(predict_best_shower_viewing(incity))

a는 현재 예측할 수 없습니다.