In [ ]:
import bikes_data

bikes = bikes_data.data_preprocessing()

bikes.head(3)

### 1. 대여구별 이용건수

In [34]:
# 자전거번호 기준으로 정리
구별이용건수 = bikes.pivot_table(index='대여구', values='자전거번호', aggfunc='count').sort_values(by='자전거번호', ascending=True).reset_index()
구별이용건수.head(10)

    대여구  자전거번호
0   금천구  33650
1   도봉구  37810
2    중구  38733
3   강북구  38901
4   용산구  47993
5   중랑구  53107
6   동작구  54393
7   은평구  58874
8  서대문구  60415
9   양천구  64912

In [ ]:
구별이용건수.plot(kind='barh', title='대여구별 이용건수', figsize=(12, 6), color='b')

In [ ]:
import json
import folium

# 구별 위도 경도 json 파일 불러오기
with open("data/Seoul_Gu.json", 'r') as f:
    seoul_data = json.load(f)

In [ ]:
seoul_data['features'][0]['properties']

In [ ]:
# 지도의 중심위치 지정
map1 = folium.Map(location=[bikes['대여점 위도'].mean(), bikes['대여점 경도'].mean()], zoom_start=11)

In [ ]:
folium.Choropleth(
    geo_data=seoul_data, # 지도 데이터 파일 경로
    data=구별이용건수, # 시간화 하고자 하는 데이터 파일
    columns=['대여구', '자전거번호'], # [지도 데이터와 매핑할 값, 시각화 하고자 하는 변수]
    fill_color='YlGnBu', # 시각화 색상
    key_on='feature.properties.SIG_KOR_NM').add_to(map1) # feature.데이터 파일과 매핑할 값

map1

### 2.대여구별 이용시간 평균

In [ ]:
구별이용시간평균 = bikes.pivot_table(index='대여구', values='이용시간', aggfunc='mean').sort_values(by='이용시간', ascending=True).reset_index()
구별이용시간평균.head(10)

In [ ]:
구별이용시간평균.plot(kind='barh', title='대여구별 이용시간 평균', figsize=(12, 6), color='r')

In [ ]:
folium.Choropleth(
    geo_data=seoul_data, # 지도 데이터 파일 경로
    data=구별이용시간평균, # 시간화 하고자 하는 데이터 파일
    columns=['대여구', '이용시간'], # [지도 데이터와 매핑할 값, 시각화 하고자 하는 변수]
    fill_color='YlGnBu', # 시각화 색상
    key_on='feature.properties.SIG_KOR_NM').add_to(map1) # feature.데이터 파일과 매핑할 값

map1