In [27]:
# 미션: 숫자 리스트의 모든 요소를 제곱한 후 새로운 리스트로 반환하기

In [28]:
numbers = [1, 2, 3, 4, 5]
# squared_numbers = # TODO: YOUR CODE HERE
squared_numbers = [x ** 2 for x in numbers] # 가능한 1번
squared_numbers = list(map(lambda x: x ** 2, numbers)) # 가능한 2번
print(squared_numbers)

[1, 4, 9, 16, 25]

In [29]:
# 미션: 학생들의 이름과 점수가 있는 딕셔너리에서, 점수가 70점 이상인 학생들만 출력

In [30]:
students = {'Alice': 85, 'Bob': 67, 'Charlie': 72, 'David': 90}
# passed_students = # TODO: YOUR CODE HERE
passed_students = {name: score for name, score in students.items() if score >= 70}
print(passed_students)

{'Alice': 85, 'Charlie': 72, 'David': 90}

In [31]:
# 미션: 두 숫자의 합을 계산하는 함수를 작성

In [32]:
# TODO: YOUR CODE HERE
def add_numbers(a, b):
    return a+b

result = add_numbers(10, 20)
print(result)

30

In [33]:
# 미션: 텍스트 파일을 읽고, 파일의 각 줄을 역순으로 출력하세요.
# 2~3줄의 문장이 들어있는 간단한 sample.txt 파일을 만들어주세요

In [34]:
with open('sample.txt', 'r') as file:
    lines = file.readlines()
    # reversed_lines = # TODO: YOUR CODE HERE
    reversed_lines = [line[::-1] for line in lines]
    for line in reversed_lines:
        print(line.strip())

ih
uoy teem ot ecin
eyb

In [35]:
# 미션: CSV 파일을 읽고, 'column_name' 열의 평균값을 계산하세요.
# 먼저 data.csv파일을 만드는 코드셀을 실행하세요

In [36]:
import csv

# 데이터 정의
data = [
    ['column_group', 'column_name', 'other_column'],
    ['A', 10, 5],
    ['B', 20, 15],
    ['D', 30, 25],
    ['C', 40, 35],
    ['A', 50, 45],
    ['C', 60, 55],
    ['A', 70, 65],
    ['D', 80, 75],
    ['B', 90, 85],
    ['B', 100, 95]
]

# 파일 쓰기
with open('data.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

print("data.csv 파일이 성공적으로 생성되었습니다.")

data.csv 파일이 성공적으로 생성되었습니다.

In [37]:
import pandas as pd

df = pd.read_csv('data.csv')
# average_value = # TODO: YOUR CODE HERE
average_value = df['column_name'].mean()
print(average_value)

55.0

In [38]:
# 미션: 데이터 프레임에서 특정 조건('column_name'열 중 50초과)을 만족하는 행만 선택하세요.

In [39]:
# filtered_df = # TODO: YOUR CODE HERE
filtered_df = df[df['column_name'] > 50]
print(filtered_df)

  column_group  column_name  other_column
5            C           60            55
6            A           70            65
7            D           80            75
8            B           90            85
9            B          100            95

In [40]:
# 미션: 데이터 프레임을 'column_group' 열에 의해 그룹화하고, 그룹별 합계를 계산하세요.

In [41]:
# grouped_df = # TODO: YOUR CODE HERE
grouped_df = df.groupby('column_group').sum()
print(grouped_df)

              column_name  other_column
column_group
A                     130           115
B                     210           195
C                     100            90
D                     110           100

In [51]:
# 미션: 로또 번호 생성기
# 주제: 1부터 45까지의 숫자 중에서 랜덤으로 6개의 로또 번호를 생성하는 프로그램을 작성하세요.
# 요구사항: 6개의 숫자가 중복되지 않도록 랜덤으로 생성합니다.

import random

def getting_lotto_numbers():
    # 1부터 45까지의 숫자 생성
    numbers = list(range(1, 46))
    # 숫자 섞기
    random.shuffle(numbers)
    # 처음 6개의 숫자 선택
    lotto_numbers = numbers[:6]
    return lotto_numbers

# 로또 번호 생성
lotto_numbers = getting_lotto_numbers()
print("생성된 로또 번호:", lotto_numbers)

생성된 로또 번호: [10, 27, 21, 15, 28, 37]

In [45]:
# 미션: 숫자 맞추기 게임
# 주제: 컴퓨터가 1에서 100 사이의 랜덤 숫자를 선택하고, 사용자가 이를 맞추는 게임을 만드세요.
# 요구사항: 사용자가 숫자를 입력하면, 컴퓨터가 더 큰지 작은지를 알려주고, 맞출 때까지 반복합니다.

import random

def guess_number_game():
    # 컴퓨터가 선택한 랜덤 숫자
    computer_number = random.randint(1, 100)
    
    while True:
        # 사용자가 추측한 숫자 입력
        user_guess = int(input("1부터 100 사이의 숫자를 맞추시오: "))
        
        # 사용자가 입력한 숫자와 컴퓨터 숫자 비교
        if user_guess < computer_number:
            print("더 큰 숫자를 입력하세요.")
        elif user_guess > computer_number:
            print("더 작은 숫자를 입력하세요.")
        else:
            print(f"축하합니다! 숫자 {computer_number}를 맞추셨습니다!")
            break

# 숫자 맞추기 게임 실행
guess_number_game()

더 작은 숫자를 입력하세요.
더 작은 숫자를 입력하세요.
더 작은 숫자를 입력하세요.
축하합니다! 숫자 3를 맞추셨습니다!

In [52]:
# 미션: 구구단 출력기
# 주제: 2단부터 9단까지의 구구단을 출력하는 프로그램을 작성하세요.
# 요구사항: 2단부터 9단까지의 곱셈 결과를 출력합니다.

def multiply_table():
    # 2단부터 9단까지 반복
    for i in range(2, 10):
        print(f"========== {i}단 ==========")
        # 1부터 9까지 반복
        for y in range(1, 10):
            print(f"{i} * {y} = ", i * y)

multiply_table()

========== 2단 ==========
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18
========== 3단 ==========
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27
========== 4단 ==========
4 * 1 =  4
4 * 2 =  8
4 * 3 =  12
4 * 4 =  16
4 * 5 =  20
4 * 6 =  24
4 * 7 =  28
4 * 8 =  32
4 * 9 =  36
========== 5단 ==========
5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45
========== 6단 ==========
6 * 1 =  6
6 * 2 =  12
6 * 3 =  18
6 * 4 =  24
6 * 5 =  30
6 * 6 =  36
6 * 7 =  42
6 * 8 =  48
6 * 9 =  54
========== 7단 ==========
7 * 1 =  7
7 * 2 =  14
7 * 3 =  21
7 * 4 =  28
7 * 5 =  35
7 * 6 =  42
7 * 7 =  49
7 * 8 =  56
7 * 9 =  63
========== 8단 ==========
8 * 1 =  8
8 * 2 =  16
8 * 3 =  24
8 * 4 =  32
8 * 5 =  40
8 * 6 =  48
8 * 7 =  56
8 * 8 =  64
8 * 9 =  72
========== 9단 ==========
9 * 1 =  9
9 * 2 =  18
9 * 3 =  27
9 * 4 =  36
9 * 5 =  45
9 * 6 =  54
9 * 7 =  63
9 * 8 =  72
9 * 9 =  81